@model IEnumerable<NTierDemo.BLL.DTOs.EmployeeDTO>

@{
    ViewBag.Title = "GetEmployees";
}

<h2>GetEmployees</h2>

<p>
    @Html.ActionLink("Create New", "Add")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HiredDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GrossSalary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NetSalary)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HiredDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GrossSalary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NetSalary)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "GetById", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
